*{
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;	
}

body{
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 150%;
  background-color: #fff;
  font-family: Arial, Helvetica, sans-serif;	
  overflow: hidden;
}

div,button,input,select{
  font-size: 9pt;
}
td,th{
  font-size: 9pt;
}
img{
  border: 0px;
}
ul {
  margin: 0px
}
a{
  text-decoration: none;
}
a:link {
  color: #566D94;
  text-decoration: underline;
}
a:visited{
  color: #566D94;
  text-decoration: underline;
}
a:hover{
  color: #566D94;
  text-decoration: none;
}
.red{
  color:red;
  margin-left: 4px;
  margin-right: 4px;
}

/**全站form及button样式**/

form{
  margin:0px;
  padding:0px;
}

/*区分只读文本框和普通文本框的背景色*/

input{
  background-color:expression((this.readOnly && this.readOnly==true)?"#efefef":"")
  }
  
.btn{
	border: 1px solid #d5d5d5;
	border-bottom: 1px solid #999;
	border-right: 1px solid #999;
	font-family: Arial,Verdana ;
	font-size: 9pt;
	font-weight: 700;
	color: #333;
	background-image: url(buttonBg.gif);
	background-position:top;
	background-color: #ffffff;
	height: 24px;
	vertical-align: top;
    cursor: hand
    /*解决ie6/7按钮随文字增多而左右pading增大*/
    *overflow:visible;/*IE7兼容*/
    _overflow:visible;/*IE6兼容*/
}

.headbg {
	background: url(head-bg.gif) no-repeat right 0;
	}
#toolbar { height:50px; float: right; padding: 0;}
#toolbar ul { list-style: none; margin: 0px; padding: 0px; }
#toolbar ul li { float:left; padding: 0 10px; height: 26px; line-height: 26px; color: #295c7b;}
#toolbar span{
	color:#295b7b; 
	font-family:'arial',sans-serif,'宋体',新宋体,;
}
#toolbar td{vertical-align:middle; padding: 0; }
#toolbar a{
	padding: 0 1px 0 3px;
}
#toolbar a:link {
	color:#273f74;
	text-decoration: none; 
}
#toolbar a:visited{
	color:#424242;
	text-decoration: none;
}
#toolbar a:hover{
	color:#ff5a00;
	text-decoration: underline;
}
#toolbar span{
	color: 07206a;
}
#home{
	background:url(../img/home.gif) no-repeat 0 4px;
}
#help{
	background:url(../img/help.gif) no-repeat 0 4px;
}
#logout{
	background:url(../img/logout.gif) no-repeat 0 4px;
}
	
	
/*header start*/
 #header {
    float: left;
    width: 100%;
	padding-left: 10px;
	background: url(navbg.gif) repeat-x;
    margin-bottom: 10px;
      }
#header ul {
      margin: 0;
      list-style: none;
      height: 31px;
      }
#header li {
      float: left;
      background: url(navbg.gif) repeat-x;

      }
#header a {
      float: left;
      display: block;
      background: url(navbg_li.gif) no-repeat right 0;
      text-align: center;
      text-decoration: none;
      line-height: 31px;
      padding: 1px 12px 0;
      color: #fff;
	  font-weight: 700;
     }

#header a:hover {
	  padding: 1px 12px 0;
	  color:#fff;
	  background: url(navbg_hover.gif) repeat-x right 0;
      }
#header #current{
      background: url(topmenu_left2.gif) no-repeat left 0;
      }
#header #current a {
    background:url(topmenu_right2.gif) no-repeat right 0;
    color:#484949;
    font-weight:700;
}
#menu{
  background-color:#7288AD;
  border-left:1px solid #fff;
}

#welcome{
  background-color:#ECE9D8;
  border-bottom:1px solid #999;
  color:#566D94;
  height:20px;
  padding:2px 20px;
  text-align:right;
  font-weight:bold;
  font-family:'arial',sans-serif,'宋体',新宋体,;

}
/*header-end*/
#maintop{
  background-color:#F7F7F7;
  padding:10px;
}
#main{
/**padding:15px 0px 0px 15px;**/
}
#logo{
  float:left;
  padding:0 0px 0px 20px;
}
#toptool{
  float:right;
  text-align:right;
  height:16px;
  padding:5px 15px 4px 10px;
}
#toptool a{
  padding:4px 8px;
}
/********当前位置**********************************************************************/
#location{
  height:25px;
  border-bottom:1px solid #CBD5E1;
  margin-bottom:20px;
}
#moduleTitle{
  float:left;
  font-weight:bolder;
  margin-top:5px;
  font-size:14px;
  background:url(dot.gif);
  background-repeat: no-repeat;
  background-position: left center;
  color:#566D94;
  padding-left:20px;
}
#tool{
  float:right;
  padding:2px 8px;
  margin-bottom:8px;
}
#tool a{
  text-decoration : none;
  color:#566D94;
}
/**用户功能操作区域************************************************************************/
#function{
  margin:10px 12px;
}

/****left_start************************************************/
#left{
  background-color:#BEC9DE;
  border-right:1px solid #999;
}
#treeBox{
  overflow:auto;
  background-color: #fff;
}
#treeBox .ec{
  /* margin:5px 5px 1px 10px; */
  margin: 0px 5px 0px 10px;
}
#treeBox span {
  display: block;
  vertical-align: middle;
}
#treeBox .hasItems{
  height:31px;
  line-height: 31px;
  cursor:hand;
  background:url(hasItems-bg.gif) repeat-x;
  /*----菜单树标题背景渐变
  filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#ccdde9', endColorStr='#a4c3dd', gradientType='0');
  ----*/
  color:#444444;
  font-weight: 700;
  _padding-top: 5px;
}
#treeBox .Items{
  height:30px;
  _height: 25px;
  line-height: 30px;
  cursor:hand;
  color:#494949s;
  _padding-top: 5px;
}

/******copyright*******************************************************************/
#copyright{
  background-color:#7389AE;
  padding:5px 0px;
  height:30px;
  text-align:center;
  color:#F9FCFF;
}
/*******fieldset*******************************************************************/
fieldset{
  padding:10px;
  width:100%;
}

/********弹出窗口******************************************************************/
#popwindows{
  height:100%;
  padding:20px;
  background-color:#F2F4F7;
/**background:#efefef url(tdbg1.gif) repeat-x top left;**/
}

/********right********************************************************************/
#right{
  padding:15px 16px 20px 5px;
/**
background:url(title_bg.gif);
background-position: right top;
background-repeat: repeat-x;
**/
}


/****日历*******************************/
#calendar{
      border-top:1px solid #4684C1;
      border-right:1px solid #4684C1;
      border-bottom:1px solid #4684C1;
      border-left:1px solid #4684C1;
   }
#calendar caption{
      filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#ffffff', endColorStr='#DCE3EC', gradientType='0');
      border-bottom:2px solid #FF9900;
      background-color:#79A9D9;
      color:#21598C;
      font-weight:bold;
      line-height:20px;   
   }

#calendar th{
   background-color:#7288AD;
   padding:6px 4px;
   color:#fff;
   } 
#calendar td{
   padding:6px 4px;
   } 
#calendar .monthCalBodyWeekEnd {
   text-align:right;
   background-color:#EEF0F7;

}
   
#calendar .active{
   text-align:right;
   cursor:hand;
   background-color:#ffffff; 
   color:#006699 ;
   font-weight:bold;
   border:1px solid #4A6E9D;
    }
#calendar .monthCalBodyWeekDay{
   text-align:right;
    background-color:#F7FAFF; 
   }   
#calendar .monthFooter,#calendar .monthFooter a {
background-color:#DFE3F0;
font-weight:bold;
TEXT-DECORATION: none;

}
#IconDecoration{
/**background: #FFFFFF url("tdbg1.gif") repeat-x top left;
border:1px solid #ccc;
**/
padding:4px 8px 2px 10px;
width:320px;
}
#alert{
padding:4px 8px;
background-color:#ffffff;
margin-bottom:8px;
width:50%;
}
