com.sun.security.jgss.accept {
	com.sun.security.auth.module.Krb5LoginModule required
	debug=false
	principal="HTTP/bimis@HNCCCB.COM" 
	useKeyTab=true 
	keyTab="E:/work/imps/web/WEB-INF/sunline/bimis.http.keytab" 
	storeKey=true; 
};
com.sun.security.jgss.initiate {
	com.sun.security.auth.module.Krb5LoginModule required
	debug=true
	principal="HTTP/bimis@HNCCCB.COM" 
	useKeyTab=true 
	keyTab="E:/work/imps/web/WEB-INF/sunline/bimis.http.keytab" 
	storeKey=true; 
};
BimisLogin{
	com.sun.security.auth.module.Krb5LoginModule  required
	debug=false
	useKeyTab=true
	keyTab="D:/Tomcat5/conf/bimis.host.keytab"
	storeKey=false;
};
Krb5Login{
	com.sun.security.auth.module.Krb5LoginModule  required
	debug=true
	principal="bimis@DCB.CN"
	useKeyTab=true
	keyTab="D:\Tomcat5\conf\bimis.HTTP.keytab"
	storeKey=true;
};
com.sunline.jraf.security.auth.accept {
  com.sunline.jraf.security.auth.module.LDAPLoginModule sufficient
  debug=false
	connectionURL="ldap://dc.dcb.cn:389"
	connectionName="CN=ldapuser,CN=Users,DC=DCB,DC=CN"
	connectionPassword="ldapuser"
	userBase="OU=DCB, DC=DCB, DC=CN"
	userSubtree="true"
	userSearch="(&(objectclass=user)(sAMAccountName={0}))"
	roleBase="OU=DCB, DC=DCB, DC=CN"
	roleName="cn"
	roleSubtree="true"
	roleSearch="(&(objectclass=group)(groupType:1.2.840.113556.1.4.803:=2147483650)(Member={0}))"
	storeKey=true;
};

JndiLogin{
  com.sun.security.auth.module.JndiLoginModule required debug=true;
};

